on:
  workflow_run:
    types: [completed]
    branches: [main]
    workflows: [tests]

permissions:
  pages: write
  actions: read
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

name: docs
jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: build
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: Generate Pages
        run: |
          dotnet tool install -g docfx
          docfx docs/docfx.json
      - uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - uses: actions/deploy-pages@v4
    runs-on: ubuntu-latest
